<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoMover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhotoMover.Properties.Settings>
            <setting name="option1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="option2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="option3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="workFile" serializeAs="String">
                <value />
            </setting>
            <setting name="loadSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zoomOption" serializeAs="String">
                <value>0</value>
            </setting>
        </PhotoMover.Properties.Settings>
    </userSettings>
</configuration>